:root {
    --main-color: #4415ff;
    --main-color-darker: #a9e54e;
    --white: #fff;
    --gray-light: #f8f9fa;
    --gray-dark: #7d7d7d;
    --navbar-bg-color: blue;
    --hover-color: black;
  }

  body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: var(--gray-light);
    padding-top: 60px;
  }

  .navbar-custom {
    background-color: #4415ff; /* Blue for the navbar */
  }
  .navbar-brand {
    color: var(--white);
    font-family: 'Lobster', cursive;
    font-size: 2rem;
  }

  .nav-link {
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
  }

  .nav-link:hover {
    color: var(--hover-color);
  }

  .nav-link.active {
    color: var(--main-color-darker);
  }

  .search-icon {
    border-color: var(--white);
    border-radius: 15px;
    padding-left: 25px;
    background: url("src/outline_search_black_24dp.png") no-repeat left;
    background-size: 20px;
    font-weight: bold;
    color: black;
  }

  .btn-outline-primary {
    background-color: aqua;
    color: black;
    font-weight: bold;
  }

  .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .content-container {
    margin: auto;
    background-color: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
  }

  .content-header {
    color: var(--black);
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
  }

  footer {
    background-color: var(--main-color);
    color: var(--white);
    padding: 10px 0;
    text-align: center;
  }

  footer a {
    color: var(--white);
    text-decoration: none;
    margin: 0 10px;
  }

  footer a:hover {
    text-decoration: underline;
  }

  @media (min-width: 992px) {
    .navbar-nav {
      margin-left: 100px;
    }
  }

  .border-gray {
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-width: 1px;
  }

  .text-main-color {
    color: var(--main-color);
  }

  .bg-main-color {
    background-color: var(--main-color);
  }

  .border-main-color {
    border-bottom-style: solid;
    border-width: 4px;
    border-color: var(--main-color);
  }

  .bg-second-color {
    background-color: rgb(233, 233, 233);
  }

  .nav-link:hover {
    background-color: rgb(25, 24, 24);
    border-radius: 5px;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    display: none;
  }

  .navbar-brand {
        color: var(--white);
        font-family: 'Lobster', cursive;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
    }

    .navbar-brand img {
        height: 30px;
        margin-right: 10px;
    }
